In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('Road_project_Dataset.xlsx')

In [4]:
df.head(10)

,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(AD),Construction_Duration(Months),Total_estimated_cost
0,17.6,24.5,54,200,125,20,2017,50,8.644279e+05
1,36.8,10.5,64,100,150,100,2009,29,1.229959e+06
2,35.4,7.0,60,300,125,100,2022,25,1.208210e+06
3,7.4,14.0,63,250,125,60,2018,45,6.741708e+05
4,25.8,21.0,68,250,100,60,2023,39,1.051869e+06
5,6.2,17.5,75,250,150,100,2023,47,6.670643e+05
6,16.0,7.0,78,250,125,20,2006,34,8.100006e+05
7,23.2,24.5,53,150,150,100,2022,20,1.002736e+06
8,40.4,14.0,62,200,150,20,2020,42,1.298691e+06
9,47.6,21.0,62,250,100,60,2009,18,1.477214e+06

In [5]:
df.tail()

,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(AD),Construction_Duration(Months),Total_estimated_cost
95,36.4,17.5,59,150,150,80,2007,30,1.233871e+06
96,6.0,14.0,85,300,100,100,2000,14,6.566173e+05
97,21.4,14.0,56,200,150,60,2000,26,9.029155e+05
98,22.0,14.0,70,150,150,80,2004,43,9.521747e+05
99,39.2,17.5,52,100,50,60,2019,60,1.272633e+06

In [6]:
len(df)

100

The dataframe is missing a serial number. So lets add serial number column.

In [3]:
df.insert(0,'S.N',range(1,len(df)+1,1))

In [10]:
df.head()

,S.N,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(AD),Construction_Duration(Months),Total_estimated_cost
0,1,17.6,24.5,54,200,125,20,2017,50,8.644279e+05
1,2,36.8,10.5,64,100,150,100,2009,29,1.229959e+06
2,3,35.4,7.0,60,300,125,100,2022,25,1.208210e+06
3,4,7.4,14.0,63,250,125,60,2018,45,6.741708e+05
4,5,25.8,21.0,68,250,100,60,2023,39,1.051869e+06

In [11]:
df.tail()

,S.N,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(AD),Construction_Duration(Months),Total_estimated_cost
95,96,36.4,17.5,59,150,150,80,2007,30,1.233871e+06
96,97,6.0,14.0,85,300,100,100,2000,14,6.566173e+05
97,98,21.4,14.0,56,200,150,60,2000,26,9.029155e+05
98,99,22.0,14.0,70,150,150,80,2004,43,9.521747e+05
99,100,39.2,17.5,52,100,50,60,2019,60,1.272633e+06

Lets try the describe function and see  the statistics of DataFrame .

In [15]:
df.describe()

,S.N,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(AD),Construction_Duration(Months),Total_estimated_cost
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02
mean,50.500000,27.032000,16.625000,72.330000,200.000000,103.750000,57.400000,2011.690000,38.680000,1.060637e+06
std,29.011492,12.771361,6.988943,13.651547,73.854895,35.063975,28.661028,6.811599,13.240495,2.544909e+05
min,1.000000,6.000000,7.000000,50.000000,100.000000,50.000000,20.000000,2000.000000,14.000000,6.298470e+05
25%,25.750000,16.750000,10.500000,61.000000,150.000000,75.000000,40.000000,2006.000000,27.750000,8.571223e+05
50%,50.500000,26.800000,17.500000,71.500000,200.000000,100.000000,60.000000,2011.500000,39.000000,1.065221e+06
75%,75.250000,38.350000,24.500000,83.250000,250.000000,125.000000,80.000000,2018.000000,50.000000,1.292238e+06
max,100.000000,49.000000,28.000000,99.000000,300.000000,150.000000,100.000000,2023.000000,60.000000,1.550538e+06

In [19]:
print('The total length of the road considered under this projects in km:')
round(df['Length_Of_Road(km)'].sum())

The total length of the road considered under this projects in km:

2703

In the process of Data Cleaning ,

Lets check whether in dataset the thickness of sub-base course is smaller than base course

and the thickness of base course is smaller than surface course in any of the data

Generally T(sub-base)>T(base)>T(Surface)

In [4]:
condition=df['Base_thickness(mm)']>df['Sub_base_thickness(mm)']
condition

0     False
1      True
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [5]:
count_true=condition.sum()
print('The number of data where the thickness of base course is larger than the thickness of sub-base is:',count_true)

The number of data where the thickness of base course is larger than the thickness of sub-base is: 7

In [6]:
#lets update the values where the condition is true
df.loc[condition,'Base_thickness(mm)']=df.loc[condition,'Sub_base_thickness(mm)']

In [9]:
df.head()

,S.N,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(AD),Construction_Duration(Months),Total_estimated_cost
0,1,17.6,24.5,54,200,125,20,2017,50,8.644279e+05
1,2,36.8,10.5,64,100,100,100,2009,29,1.229959e+06
2,3,35.4,7.0,60,300,125,100,2022,25,1.208210e+06
3,4,7.4,14.0,63,250,125,60,2018,45,6.741708e+05
4,5,25.8,21.0,68,250,100,60,2023,39,1.051869e+06

It seems to work :)

Now Lets do same for base and wearing course

In [11]:
condition2=df['Base_thickness(mm)']<df['Surface_Thickness(mm)']
condition2

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99     True
Length: 100, dtype: bool

In [12]:
#lets count number of data where surface thickness is greater than base thickness
count2=condition2.sum()
print('The number of data where base thicknes is smaller than surface thickness is',count2)

The number of data where base thicknes is smaller than surface thickness is 17

In [13]:
#lets print those data
df.loc[condition2]

,S.N,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(AD),Construction_Duration(Months),Total_estimated_cost
14,15,21.0,24.5,54,300,50,60,2007,26,9.112015e+05
21,22,31.2,17.5,84,100,50,60,2010,60,1.150506e+06
27,28,40.2,24.5,70,150,75,80,2010,54,1.330970e+06
31,32,11.4,14.0,69,250,50,100,2006,38,7.417429e+05
33,34,11.8,24.5,53,300,50,80,2002,29,7.468902e+05
38,39,11.6,24.5,50,150,75,100,2008,31,7.485234e+05
39,40,49.0,21.0,81,100,50,60,2005,17,1.515965e+06
43,44,10.8,10.5,72,150,50,60,2007,48,7.072747e+05
44,45,47.8,28.0,71,250,50,100,2019,58,1.550538e+06
56,57,33.2,7.0,53,150,50,60,2003,44,1.100390e+06
66,67,29.2,21.0,86,150,75,100,2009,14,1.141403e+06
68,69,43.2,17.5,52,300,50,100,2011,36,1.383340e+06
84,85,11.2,17.5,77,300,75,80,2006,44,7.551049e+05
86,87,44.0,21.0,63,100,75,80,2007,50,1.397376e+06
89,90,12.2,28.0,88,100,75,80,2006,35,8.047655e+05
91,92,12.4,24.5,62,100,75,80,2004,23,7.612678e+05
99,100,39.2,17.5,52,100,50,60,2019,60,1.272633e+06

In [14]:
#lets update the data and make base thickness equal to the surface thickness in those 17 datas
df.loc[condition2,'Base_thickness(mm)']=df.loc[condition2,'Surface_Thickness(mm)']

In [15]:
#now lets check the condition again
df.loc[condition2]

,S.N,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(AD),Construction_Duration(Months),Total_estimated_cost
14,15,21.0,24.5,54,300,60,60,2007,26,9.112015e+05
21,22,31.2,17.5,84,100,60,60,2010,60,1.150506e+06
27,28,40.2,24.5,70,150,80,80,2010,54,1.330970e+06
31,32,11.4,14.0,69,250,100,100,2006,38,7.417429e+05
33,34,11.8,24.5,53,300,80,80,2002,29,7.468902e+05
38,39,11.6,24.5,50,150,100,100,2008,31,7.485234e+05
39,40,49.0,21.0,81,100,60,60,2005,17,1.515965e+06
43,44,10.8,10.5,72,150,60,60,2007,48,7.072747e+05
44,45,47.8,28.0,71,250,100,100,2019,58,1.550538e+06
56,57,33.2,7.0,53,150,60,60,2003,44,1.100390e+06
66,67,29.2,21.0,86,150,100,100,2009,14,1.141403e+06
68,69,43.2,17.5,52,300,100,100,2011,36,1.383340e+06
84,85,11.2,17.5,77,300,80,80,2006,44,7.551049e+05
86,87,44.0,21.0,63,100,80,80,2007,50,1.397376e+06
89,90,12.2,28.0,88,100,80,80,2006,35,8.047655e+05
91,92,12.4,24.5,62,100,80,80,2004,23,7.612678e+05
99,100,39.2,17.5,52,100,60,60,2019,60,1.272633e+06

We can see in the above output the value of base course thickness has been replaced by value of surface thickness where the condition applied.

Now, why not change construction year which is in AD to construction year in BS.

In [16]:
df['Construction_year(AD)']=df['Construction_year(AD)']+57 #Generally there is 57 year differences between AD and BS

In [18]:
df['Construction_year(AD)'].head()

0    2074
1    2066
2    2079
3    2075
4    2080
Name: Construction_year(AD), dtype: int64

The value within the column has been updated, however the name of column head still shows AD. klets replace that.

In [20]:
df.rename(columns={'Construction_year(AD)':'Construction_year(BS)'})
df.head()

,S.N,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(AD),Construction_Duration(Months),Total_estimated_cost
0,1,17.6,24.5,54,200,125,20,2074,50,8.644279e+05
1,2,36.8,10.5,64,100,100,100,2066,29,1.229959e+06
2,3,35.4,7.0,60,300,125,100,2079,25,1.208210e+06
3,4,7.4,14.0,63,250,125,60,2075,45,6.741708e+05
4,5,25.8,21.0,68,250,100,60,2080,39,1.051869e+06

In [21]:
#we can see, it has not been replaced, so what we can do is use inplace=True to replace in original dataframe 
df.rename(columns={'Construction_year(AD)':'Construction_year(BS)'},inplace=True)
df.head()

,S.N,Length_Of_Road(km),Width_Of_Carriageway(m),Flexible_pavement_percentage,Sub_base_thickness(mm),Base_thickness(mm),Surface_Thickness(mm),Construction_year(BS),Construction_Duration(Months),Total_estimated_cost
0,1,17.6,24.5,54,200,125,20,2074,50,8.644279e+05
1,2,36.8,10.5,64,100,100,100,2066,29,1.229959e+06
2,3,35.4,7.0,60,300,125,100,2079,25,1.208210e+06
3,4,7.4,14.0,63,250,125,60,2075,45,6.741708e+05
4,5,25.8,21.0,68,250,100,60,2080,39,1.051869e+06

NOW IT HAS BEEN PRMANENTLY CHANGED.

The process of data exploration and Data cleaning has been completed for this practice project.

lets save this new dataframe into another excel file.

In [ ]:
df.to_excel('Road_project_clean_dataset.xlsx',index=False)